In [ ]:
#Ques1:
list1=[1,3,4,5.3,8.2,2+9j,7+1j,'Vartika','Python','Training']

In [ ]:
#Ques2:
list1=[1,2,3,4,5]
#Slicing Structure
print(list1[:]) #print the entire list
print(list1[0:5]) #fetch the items from index=0 to index=4
print(list1[:3]) #fetch items from index=0 to index=3 (doubt??)
print(list1[2:]) #fetch items from index=2 till index=4

In [ ]:
#Ques3: Write a program to get the sum and multiply of all the items in a given list.
list1=[1,2,3,4,5,6]
print(sum(list1)) #sum of all the items

#multiply of all the items

In [ ]:
#Ques4: Find the largest and smallest number from a given list.
list1=[1,2,3,4,5,6]
print(max(list1)) #largest number from a given list
print(min(list1)) #smaller number from a given list
print(len(list1))

In [ ]:
#Ques5: Create a new list which contains the specified numbers after removing the even numbers from a predefined list.
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[]
for i in list1:
    if i%2!=0:
        list2.append(i)
print(list2)

In [ ]:
#Ques6:Create a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included). 

list1=[]
list2=[]
for i in range(1,6):
    a=i*i
    list1.append(a)
print(list1)
for j in range(25,31):
    b=j*j
    list2.append(b)
print(list2)
  #how to print in list format?

In [ ]:
#Ques7:Write a program to replace the last element in a list with another list. 
#Sample data: [[1,3,5,7,9,10],[2,4,6,8]] 
#Expected output: [1,3,5,7,9,2,4,6,8] 

matrix=[[1,3,5,7,9,10],[2,4,6,8]]

In [ ]:
#Ques8:Create a new dictionary by concatenating the following two dictionaries: 

a={1:10,2:20} 

b={3:30,4:40} 

a.update(b)
print(a)

In [ ]:
#ques9:Create a dictionary that contains a number (between 1 and n) in the form(x,x*x). 

#Sample data (n=5) 

#Expected Output: {1:1,2:4,3:9,4:16,5:25} 

dict1={}
for i in range(1,6):
    dict1[i]=i*i
print(dict1)

In [ ]:
#Ques10:Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 

34,67,55,33,12,98 

The output should be: 

[‘34’,’67’,’55’,’33’,’12’,’98’] 

(‘34’,’67’,’55’,’33’,’12’,’98’)

In [ ]:
#Extra Activity on Data Structures

In [ ]:
#Ques1 and Ques2 done in the starting

In [ ]:
#Ques3:Create a list of given structure and run  

x=[100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800] 

#Access list [1, 2, 3, 4, 5] 

#Access list [600,  700] 

#Access list [100, 300, 500, 600, 800] 

#Access list [[800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]:] 

#Access list [10] 

#Access list [ ]

In [ ]:
#Ques4:Create a list of thousand number using range and xrange and see the difference between each other. 
list1=list(range(1,1001))
print(list1)

list2=list(xrange(1,1001))
print(list2)

In [ ]:
#Ques6:Write a program in Python to iterate through the list of numbers in the range of 1,100 and print the number which is divisible by 3 and a multiple of 2. 
list1=list(range(1,100))
list2=[]
for i in list1:    
    if i%3==0 and i%2==0:
        list2.append(i)
print(list2)

In [ ]:
#Ques7:Write a program in Python to reverse a string and print only the vowel alphabet if exist in the string with their index. 
 #1 Reverse a string
#2 Print only vowel alphabet if exist with their index
str1="Online"
#rint(str1[::-1])

if 'a' in str1:
    print(str1.find(a))
else if "e" in str1:
    print(str1.find(e))
elif 'i' in str1:
    print(str1.find(i))
elif 'o' in str1:
    print(str1.find(o))
elif 'u' in str1:
    print(str1.find(u))

In [ ]:
#Ques10:Write a program in Python to complete the following task: 

#Create two different list as in even_list and odd_list 
#Ask user to enter the number in the range of 1,50 and make sure if the entered number is even append it to the even_list and if the entered number is odd append it to the odd list. 
#Keep that in mind you can only add 5 items in each list 
#Make sure once you entered the total 5 element calculate the sum of the list and return the maximum out of the list. 

list_even=[]
list_odd=[]
#number=int(input("Enter the number between 1 and 50:"))
for number in range(1,11):
    if number%2==0:
        list_even.append(number)
    elif number%2!=0:
        list_odd.append(number)
print("Even list",list_even)
print("Odd list",list_odd)
list1=list_even+list_odd
print(list1)
print("Maximum out of the list:",max(list1))
print("Sum of the list:",sum(list1))

In [ ]:
#Ques11:Write a program to find out the occurrence of a specific word from an alphanumeric statement. Example: 12abcbacbaba344ab   

#Output: a=5 b=5 c=2 make sure you should avoid the numbers in you logic 

string1="12abcbacbaba344ab "
print(string1.count('a',0,len(string1)))
print(string1.count('b',0,len(string1)))
print(string1.count('c',0,len(string1)))

In [ ]:
#Ques12:Generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10). 
tuple1=(1,2,3,4,5,6,7,8,9,10)
list_from_tuple=list(tuple1)
list2=[]
for i in list_from_tuple:
    if i%2==0:
        list2.append(i)
print(list2)
tuple_from_list=tuple(list2)
print(tuple_from_list)